{% load static %}

<header class="container flex header">
    <nav class="navigation">
        <ul class="flex menu-nav">
            <li><a href="{% url 'mainapp:gallery' %}"> Услуги</a></li>
            <li><a href="#">Прайс</a></li>
            <li><a href="{% url 'mainapp:about' %}">О нас</a></li>
            {% if user.is_authenticated and user != AnonymousUser and master %}
                <li class="hide-on-tablet"><a href="{% url 'masterapp:master_page' master.pk %}">Кабинет мастера</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <a href="{% url 'mainapp:index' %}" class="logo-block">
        <p class="logo-font logo-menu">BEAUTY</p>
        <p class="logo-menu-p">САЛОН КРАСОТЫ</p>
    </a>
    <nav class="navigation show-on-tablet">
        <ul class="flex menu-nav">
            <li class="hide-on-tablet"><a href="{% url 'mainapp:gallery' %}">Галерея</a></li>
            <li class="hide-on-tablet"><a href="{% url 'mainapp:contacts' %}">Контакты</a></li>
            {% if not user.is_authenticated %}
                <li class="hide-on-tablet"><a href="{% url 'authapp:register' %}">Регистрация</a></li>
                <li class="hide-on-tablet"><a href="{% url 'authapp:login' %}">Вход</a></li>
            {% else %}
                <li class="hide-on-tablet">
                    <label for="selectID"></label><select class="hide-on-tablet" id="selectID"
                                                          onchange="window.location.href=this.options[this.selectedIndex].value">

                    <option class="hide-on-tablet" value="">
                        {{ user.first_name|default:user.username }}
                    </option>

                    <option class="hide-on-tablet" value="{% url 'authapp:edit' user.pk %}">личный кабинет</option>

                    <option class="hide-on-tablet" value="{% url 'authapp:logout' %}">выход</option>

                </select>
                </li>
                <li class="hide-on-tablet"></li>
            {% endif %}


            <li class="flex menu-icons">
                <a href="#"
                ><img
                        class="social-media-img"
                        src="{% static 'img/telegram.svg' %}"
                        alt="telegram"
                /></a>
                <a href="#"
                ><img class="social-media-img" src="{% static 'img/vk.svg' %}" alt="vkontakte"
                /></a>
            </li>
        </ul>
    </nav>
    <img src="{% static 'img/menu.svg' %}" alt="menu" id="openNav" class="openNav desctop-hide"/>
</header>
<div id="mySidenav" class="sidenav desctop-hide">
    <div class="flex sidenav-header">
        <a href="{% url 'mainapp:index' %}" class="logo-block">
            <p class="logo-font logo-menu">BEAUTY</p>
            <p class="logo-menu-p">САЛОН КРАСОТЫ</p>
        </a>
        <img
                src="{% static 'img/close_red.svg' %}"
                alt="close"
                id="closeNav"
                class="closeNav"
        />
    </div>
    <nav>
        <ul class="flex sidenav-nav">
            <li><a href="#"> Услуги</a></li>
            <li><a href="#"> Прайс</a></li>
            <li><a href="{% url 'mainapp:about' %}"> О нас</a></li>
            <li><a href="{% url 'mainapp:gallery' %}"> Галерея</a></li>
            <li><a href="{% url 'mainapp:contacts' %}"> Контакты</a></li>
            <li><a href="#"> Кабинет мастера</a></li>
        </ul>
    </nav>
    <div class="flex sidenav-contacts" id="mySidenavContacts">
        <p class="ta-center">
            г. Город, ул. <br/>
            Пушкина, д. 56
        </p>
        <p>+7(0000)00 00 00</p>
        <div class="flex menu-icons">
            <a href="#"
            ><img
                    src="{% static 'img/telegram.svg' %}"
                    class="social-media-img"
                    alt="telegram"
            /></a>
            <a href="#"
            ><img src="{% static 'img/vk.svg' %}" class="social-media-img" alt="vkontakte"
            /></a>
        </div>
    </div>
</div>

