{% load static %}

{% block head %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/general.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/queries.css' %}"/>
    <!-- file for green sock -->
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <!-- files for swiper -->
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}"/>
    <script src="{% static 'js/swiper.js' %}"></script>
    <!-- file for jquery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- current js files -->
    <script src="{% static 'js/sliderHero.js' %}" defer></script>
    <script src="{% static 'js/gsapCurrent.js' %}" defer></script>
    <script src="{% static 'js/priceShow.js' %}" defer></script>
    <script src="{% static 'js/sidebar.js' %}" defer></script>
    <title>BEAUTY Салон</title>
</head>
{% endblock %}
{% include 'mainapp/includes/inc_main_menu.html' %}
<body>
{% include 'authapp/includes/messages.html' %}
<section class="flex form-section container">
    <h2 class="h2 red-text">{{ title }}</h2>


    {% block content %}

    {% endblock %}

    {% block footer %}
        <footer class="container">
            <div class="section-footer flex">
                <div class="flex footer-container">
                    <a href="{% url 'mainapp:index' %}">
                        <p class="logo-font logo-menu">BEAUTY</p>
                        <p class="logo-menu-p">САЛОН КРАСОТЫ</p>
                    </a>
                    <a href="#" class="footer-policy">Политика конфиденциальности</a>

                    <div class="flex menu-icons">
                        <a href="#"
                        ><img
                                src="{% static 'img/telegram.svg' %}"
                                class="social-media-img"
                                alt="telegram"
                        /></a>
                        <a href="{% url 'social:begin' 'vk' %}"><img src="{% static 'img/vk.svg' %}"
                         data-toggle="tooltip" class="social-media-img" alt="vkontakte"/></a>
                    </div>
                </div>
                <a href="#" class="mobile-footer-policy desctop-hide">Политика конфиденциальности</a>
            </div>
        </footer>
    {% endblock %}
</section>
</body>
</html>