{% extends "authapp/base.html" %}
{% load static %}

{% block conteiner %}
    <div>
        <h2 class="h2 red-text">{{ object.username }}</h2>
        <img src="/media/{{ object.avatar }}" class="photo-master">
        <h3 class="h3 red-text">{{ object.first_name }}</h3>
        <h3 class="h3 red-text">{{ object.last_name }}</h3>
        <h3 class="h3 red-text">{{ object.phone }}</h3>
        <h3 class="h3 red-text">{{ object.email }}</h3>

        <div class="nails-recomm-h ta-center">
            <button>
                <a href="{% url 'authapp:edit' user.pk %}"> редактировать данные</a>

            </button>
            {% if object.is_staff %}
                <button type="button">
                    <a href="{% url 'masterapp:master_page' user.pk %}"> кабинет сотрудника</a>
                </button>
                </div>
            {% endif %}
{{ object.pk}}
    </div>
    <!--<ul class='latest'>-->
    <!--{% for service in latest %} <li>{{ user.pk }}. {{ user.email }}</li>{% endfor %}-->
    <!--</ul>-->

{% endblock %}
