{% extends "authapp/base.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
    <p>Вы уже вошли на сайт</p>
    {% endif %}
    <form method="post" action="#" class="flex form" id="formsend">
        {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" value="Войти">


{#        <input type="text" name="phone" id="phone" placeholder="Логин" class="input-form"/>#}
{##}
{#        <input type="password" name="password" id="password" placeholder="Пароль" class="input-form"/>#}
{#        <button type="submit" class="button-form">Вход</button>#}
{#    </form>#}
{#    <div class="flex form">#}
{#        <a href="{% url 'authapp:register' %}">Регистрация</a>#}
{#        <p class="text-right"><a href="">Забыли пароль?</a></p>#}
{#    </div>#}
{% endblock %}
