{% extends "authapp/base.html" %}
{% load static %}

{% block content %}
    <form method="POST" class="flex form" id="formsend" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="tel" id="id_phone" name="phone"
{#               pattern="[8]{1}-[0-9]{3}-[0-9]{4}"#}
               autocapitalize="none" autocomplete="phone"
               maxlength="150" class="input-form textinput textInput form-control"
               required="" id="id_phone" placeholder="Телефон в формате 8-456-7890"/>

        <input type="text" name="email" autofocus=""
               autocapitalize="none" autocomplete="email"
               maxlength="150" class="input-form textinput textInput form-control"
               required="" id="id_email" placeholder="Email"/>

        <input type="password" name="password1"
               autocomplete="current-password"
               class="input-form textinput textInput form-control" required=""
               id="id_password1" placeholder="Пароль"/>

        <input type="password" name="password2"
               autocomplete="current-password"
               class="input-form textinput textInput form-control" required=""
               id="id_password2" placeholder="Повторите пароль">

        <input type="text" name="first_name" autocapitalize="none"
               maxlength="150" class="input-form textinput textInput form-control"
               required="" placeholder="Имя">

        <input type="text" name="last_name" autocapitalize="none"
               maxlength="150" class="input-form textinput textInput form-control"
               required="" placeholder="Фамилия">

        <input type="file" name="avatar"
               class="input-form textinput textInput form-control"
               required="" placeholder="Avatar">

        <button type="submit"
                class="button-form btn btn-primary btn-block">
            Зарегистрироваться
        </button>

    </form>
    <p>
    <div class="row justify-content-between">
        <div class="col">
            <a href="{% url 'authapp:login' %}"><h2>Войти</h2></a>
        </div>
        <div class="col">
            <a href="#"><h2>Забыли пароль?</h2></a>
        </div>
    </div>
    </p>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        {% if messages %}
        // Toasts
        $(".toast").toast({ delay: 5000 });
        $(".toast").toast("show");
        {% endif %}
    });
</script>
{% endblock %}