{% extends 'mainapp/base.html' %}
{% load static %}

{% block conteiner %}

    <section class="container atmospere-section">
        <h2 class="red-text h2 bloc-start">Атмосфера салона</h2>

        <div class="grid grid--2-cols hide-mobil show-on-tablet desctop-show">
            <div class="bloc">
                <img
                        class="atmosphere-img bloc1"
                        src="../../../static/img/atmosphere1.jpg"
                        alt="Салон BEAUTY"
                />
            </div>
            <p id="trigger1" class="atmosphere-description">
                Lorem ipsum dolor sit amet, lucilius dissentiet in sed. Has in essent
                ancillae suscipit, id per numquam concludaturque. Eius dicat falli nec
                no, et dicta praesent neglegentur per, case dicat mei an. Per erant
                quidam gloriatur te.
            </p>
            <p id="trigger2" class="atmosphere-description">
                Lorem ipsum dolor sit amet, lucilius dissentiet in sed. Has in essent
                ancillae suscipit, id per numquam concludaturque. Eius dicat falli nec
                no, et dicta praesent neglegentur per, case dicat mei an. Per erant
                quidam gloriatur te.
            </p>
            <div class="bloc">
                <img
                        class="atmosphere-img bloc2"
                        src="../../../static/img/atmosphere2.jpg"
                        alt="Салон BEAUTY"
                />
            </div>
            <div class="bloc">
                <img
                        class="atmosphere-img bloc3"
                        src="../../../static/img/atmosphere3.jpg"
                        alt="Салон BEAUTY"
                />
            </div>

            <p class="atmosphere-description">
                Lorem ipsum dolor sit amet, lucilius dissentiet in sed. Has in essent
                ancillae suscipit, id per numquam concludaturque. Eius dicat falli nec
                no, et dicta praesent neglegentur per, case dicat mei an. Per erant
                quidam gloriatur te.
            </p>
        </div>
        <div class="flex mobile-atmosphere hide-on-tablet desctop-hide">
            <img
                    class="atmosphere-img"
                    src="../../../static/img/atmosphere1.jpg"
                    alt="Салон BEAUTY"
            />
            <p class="atmosphere-description">
                Lorem ipsum dolor sit amet, lucilius dissentiet in sed. Has in essent
                ancillae suscipit, id per numquam concludaturque. Eius dicat falli nec
                no, et dicta praesent neglegentur per, case dicat mei an. Per erant
                quidam gloriatur te.
            </p>
            <img
                    class="atmosphere-img"
                    src="../../../static/img/atmosphere2.jpg"
                    alt="Салон BEAUTY"
            />
            <p class="atmosphere-description">
                Lorem ipsum dolor sit amet, lucilius dissentiet in sed. Has in essent
                ancillae suscipit, id per numquam concludaturque. Eius dicat falli nec
                no, et dicta praesent neglegentur per, case dicat mei an. Per erant
                quidam gloriatur te.
            </p>
            <img
                    class="atmosphere-img"
                    src="../../../static/img/atmosphere3.jpg"
                    alt="Салон BEAUTY"
            />
            <p class="atmosphere-description">
                Lorem ipsum dolor sit amet, lucilius dissentiet in sed. Has in essent
                ancillae suscipit, id per numquam concludaturque. Eius dicat falli nec
                no, et dicta praesent neglegentur per, case dicat mei an. Per erant
                quidam gloriatur te.
            </p>
        </div>
    </section>
    <section class="profi-section">
        <h2 class="h2">Наши мастера</h2>
        <div class="container grid grid--3-cols profi hide-mobil hide-important desctop-show">
            <div class="services-block">
                <img
                        src="../../../static/img/natalja.jpg"
                        class="services-block-img"
                        alt="Мастер салона BEAUTY"
                />
                <a href="#" class="profi-description">Мои работы</a>
            </div>
            <div class="services-block">
                <img
                        src="../../../static/img/anastasia.jpg"
                        class="services-block-img"
                        alt="Мастер салона BEAUTY"
                />
                <a href="#" class="profi-description">Мои работы</a>
            </div>
            <div class="services-block">
                <img
                        src="../../../static/img/polina.jpg"
                        class="services-block-img"
                        alt="Мастер салона BEAUTY"
                />
                <a href="#" class="profi-description">Мои работы</a>
            </div>
            <div>
                <p class="profi-name">Наталья</p>
                <p class="red-text profi-work">Мастер ногтевого сервиса</p>
            </div>
            <div>
                <p class="profi-name">Анастасия</p>
                <p class="red-text profi-work">Мастер-парикмахер</p>
            </div>
            <div>
                <p class="profi-name">Полина</p>
                <p class="red-text profi-work">Мастер-парикмахер</p>
            </div>
        </div>
        <div class="tablet-swiper-profi desctop-hide">
            <div class="swiper swiper-profi desctop-hide">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide swiper-slide-profi">
                        <div class="services-block services-block-profi">
                            <img
                                    src="../../../static/img/natalja.jpg"
                                    class="services-block-img"
                                    alt="Мастер салона BEAUTY"
                            />
                            <a href="#" class="profi-description">Мои работы</a>
                        </div>
                        <div class="services-descr">
                            <p class="profi-name">Наталья</p>
                            <p class="red-text profi-work">Мастер ногтевого сервиса</p>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-profi">
                        <div class="services-block services-block-profi">
                            <img
                                    src="../../../static/img/anastasia.jpg"
                                    class="services-block-img"
                                    alt="Мастер салона BEAUTY"
                            />
                            <a href="#" class="profi-description">Мои работы</a>
                        </div>
                        <div class="services-descr">
                            <p class="profi-name">Анастасия</p>
                            <p class="red-text profi-work">Мастер-парикмахер</p>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-profi">
                        <div class="services-block services-block-profi">
                            <img
                                    src="../../../static/img/polina.jpg"
                                    class="services-block-img"
                                    alt="Мастер салона BEAUTY"
                            />
                            <a href="#" class="profi-description">Мои работы</a>
                        </div>
                        <div class="services-descr">
                            <p class="profi-name">Полина</p>
                            <p class="red-text profi-work">Мастер-парикмахер</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next hide-important"></div>
                <div class="swiper-button-prev hide-important"></div>
            </div>
        </div>
    </section>
    <section class="flex form-section container">
        <h2 class="h2 red-text">Записаться на услугу</h2>
        <p class="nails-recomm-h ta-center">
            Заполните форму ниже и мы свяжемся с вами для уточнения <br/>информации
            и консультации по наличию свободного времени
        </p>

        <form action="#" class="flex form">
            <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Имя"
                    class="input-form"
            />

            <input
                    type="tel"
                    name="phone"
                    id="phone"
                    placeholder="Телефон"
                    class="input-form"
            />
            <input
                    type="text"
                    name="messenger"
                    id="messenger"
                    placeholder="Мессенджер"
                    class="input-form"
            />
            <input
                    type="text"
                    name="service"
                    id="service"
                    placeholder="Желаемая услуга"
                    class="input-form"
            />
            <input
                    type="text"
                    name="datetime"
                    id="datetime"
                    placeholder="Дата и время"
                    class="input-form"
            />

            <input
                    type="text"
                    name="connection_type"
                    id="connection_type"
                    placeholder="Предпочтительный вид связи"
                    class="input-form"
            />

            <label for="policy" class="label-form">
                <input type="checkbox" name="policy" id="policy" required/>
                <span
                >Я подтверждаю согласие на обработку персональных данных в
            соответствии с условиями
            <span class="policy-span">Политики конфиденциальности</span></span
                >
            </label>

            <button type="submit" class="button-form">Отправить</button>
        </form>
    </section>
    <footer class="container">
        <div class="section-footer flex">
            <div class="flex footer-container">
                <a href="index.html">
                    <p class="logo-font logo-menu">BEAUTY</p>
                    <p class="logo-menu-p">САЛОН КРАСОТЫ</p>
                </a>
                <a href="#" class="footer-policy">Политика конфиденциальности</a>

                <div class="flex menu-icons">
                    <a href="#"
                    ><img
                            src="../../../static/img/telegram.svg"
                            class="social-media-img"
                            alt="telegram"
                    /></a>
                    <a href="#"
                    ><img src="../../../static/img/vk.svg" class="social-media-img" alt="vkontakte"
                    /></a>
                </div>
            </div>
            <a href="#" class="mobile-footer-policy desctop-hide">Политика конфиденциальности</a>
        </div>
    </footer>

{% endblock %}
