{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../../static/css/general.css"/>
    <link rel="stylesheet" href="../../../static/css/style.css"/>
    <link rel="stylesheet" href="../../../static/css/queries.css"/>
    <!-- file for green sock -->
    <script src="../../../static/js/gsap.min.js"></script>
    <!-- files for swiper -->
    <link rel="stylesheet" href="../../../static/css/swiper.css"/>
    <script src="../../../static/js/swiper.js"></script>
    <!-- file for jquery -->
    <script src="../../../static/js/jquery.js"></script>
    <!-- current js files -->
    <script src="../../../static/js/sliderHero.js" defer></script>
    <script src="../../../static/js/gsapCurrent.js" defer></script>
    <script src="../../../static/js/priceShow.js" defer></script>
    <script src="../../../static/js/sidebar.js" defer></script>
    <title>BEAUTY Салон</title>
</head>
<body>

{% include 'mainapp/includes/inc_main_menu.html' %}

{% block conteiner %}

{% endblock %}

</body>
</html>