{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}


    <main class="adress-section flex">
        <img class="hero-img hide-mobil show-on-tablet" src="{% static 'img/location.jpg' %}" alt="Салон BEAUTY">
        <div class="contacts-img-main hide-on-tablet"></div>
        <h2 class="h2 red-text">Контакты</h2>
        <p class="flex adress-text hide-mobil show-on-tablet"><img class="contacts-img"
                                                                   src="{% static 'img/place.svg' %}" alt="place icon">
            г. Город, ул. Пушкина, д. 56</p>
        <div class="flex adress-mobile hide-on-tablet desctop-hide">
            <img class="contacts-img" src="{% static 'img/place.svg' %}" alt="place icon">
            <p class="adress-text-mobile"> г. Город, <br>ул. Пушкина, д. 56
            </p>
        </div>
        <div class="flex adress-div">
            <p class="flex adress-text"><img class="contacts-img" src="{% static 'img/call.svg' %}" alt="call icon">+7(000) 000
                00 00</p>
            <p class="flex adress-text"><img class="contacts-img" src="{% static 'img/date_range.svg' %}"
                                             alt="date icon">Пн-Вс: 9.00-21.00</p>
        </div>
        <img class="hero-imgs hide-mobil show-on-tablet" src="{% static 'img/map.jpg' %}" alt="">
        <div class="contacts-img-map hide-on-tablet"></div>
    </main>
{% endblock %}
