{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}
    <!-- <section class="section-hero"></section> -->
    <section class="hero">
        <!-- Slider main container -->
        <div class="swiper swiper-hero">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="hero-img hero-img1"></div>
                    <!-- <img src="img/main_img1.jpg" class="hero-img" alt="Салон BEAUTY" /> -->
                </div>
                <div class="swiper-slide">
                    <div class="hero-img hero-img2"></div>
                    <!-- <img src="img/main_img2.jpg" class="hero-img" alt="Салон BEAUTY" /> -->
                </div>
                <div class="swiper-slide">
                    <div class="hero-img hero-img3"></div>
                    <!-- <img src="img/main_img3.jpg" class="hero-img" alt="Салон BEAUTY" /> -->
                </div>
            </div>
            <!--  pagination -->
            <div class="flex swiper-hero-pagination"></div>
        </div>
        <div class="container flex hero-content">
            <h1 class="logo-font hero-logo gsap-hero">BEAUTY</h1>
            <p class="hero-content-p gsap-hero">+7(000)000
                00 00</p>
            <a href="#" class="appointment-link gsap-hero">Записаться сейчас</a>
        </div>
    </section>
    <section class="container services">
        <h2 class="h2">Услуги салона</h2>
        <div class="grid grid--3-cols">
            <div class="services-block">
                <img
                        src="{% static 'img/service1-haircut.jpg' %}"
                        class="services-block-img"
                        alt="Стрижки"
                />
                <p class="service-description">Стрижки</p>
            </div>
            <div class="services-block">
                <img
                        src="{% static 'img/service2-haircolor.jpg' %}"
                        class="services-block-img"
                        alt="Окрашивание"
                />
                <p class="service-description">Окрашивание</p>
            </div>
            <div class="services-block">
                <img
                        src="{% static 'img/service3.jpg' %}"
                        class="services-block-img"
                        alt="Прически"
                />
                <p class="service-description">Прически</p>
            </div>
            <div class="services-block">
                <img
                        src="{% static 'img/service4-haircare.jpg' %}"
                        class="services-block-img"
                        alt="Уход за волосами"
                />
                <p class="service-description">Уход за волосами</p>
            </div>
            <div class="services-block">
                <img
                        src="{% static 'img/service5-nails.jpg' %}"
                        class="services-block-img"
                        alt="Маникюр"
                />
                <p class="service-description">Маникюр</p>
            </div>
            <div class="services-block">
                <img
                        src="{% static 'img/service6-foots.jpg' %}"
                        class="services-block-img"
                        alt="Педикюр"
                />
                <p class="service-description">Педикюр</p>
            </div>
        </div>
    </section>
    <section class="container price">
        <h2 class="h2 red-mobile">Прайс</h2>
        <div class="flex price-btns">
            <p id="openHairs" class="price-btn active">Парикмахерский зал</p>
            <p id="openNails" class="price-btn">Ногтевой сервис</p>
        </div>
        <div class="flex dropdown desctop-hide">
            <div class="dropbtn">Парикмахерский зал</div>
            <img id="moreImg" src="{% static 'img/more.svg' %}" alt="more"/>
            <div class="flex dropdown-content">
                <a id="mobileHair" href="#table1">Парикмахерский зал</a>
                <a id="mobileNails" href="#table2">Ногтевой сервис</a>
            </div>
        </div>
        <div id="hairs" class="prices price-table active">
            <div class="flex price-row">
                <div class="price-block left">Наименование</div>
                <div class="price-block middle">Время</div>
                <div class="price-block middle">Цена</div>
            </div>
            <div class="flex price-row">
                <div class="price-block price-big left">Стрижка женская</div>
                <div class="price-block middle red-text price-end">1-1,5 ч.</div>
                <div class="price-block red-text price-end">от 900 р.</div>
            </div>
            <p class="price-small">
                В услугу входит: мытье головы, стрижка, сушка с&nbsp;использованием
                укладочных средств
            </p>
            <div class="flex price-row">
                <div class="price-block left">
                    <p class="price-big left">Укладка</p>
                </div>
                <div class="price-block middle red-text price-end">от 30 мин.</div>
                <div class="price-block red-text price-end">от 600 р.</div>
            </div>
            <p class="price-small">В услугу входит: мытье головы</p>
            <div class="flex price-row">
                <div class="price-block left">
                    <p>Сложная укладка (стайлеп, щипцы)</p>
                </div>
                <div class="price-block right red-text price-end">от 800 р.</div>
            </div>
            <div class="flex price-row">
                <div class="price-block price-big left">Прическа</div>
                <div class="price-block red-text price-end">от 1500 р.</div>
            </div>
            <p class="price-small">В услугу входит: мытье головы</p>
            <div class="flex price-row">
                <div class="price-block left">
                    <p class="price-big">Окрашивание волос</p>
                </div>
                <div class="price-block middle red-text price-end">от 1,5 ч.</div>
                <div class="price-block red-text price-end">от 3000 р.</div>
            </div>
            <p class="price-small">
                В услугу входит: мытье головы и сушка волос с&nbsp;использованием
                укладочных средств
            </p>
            <div class="flex price-row">
                <div class="price-block left">
                    <p>Сложные виды окрашивания</p>
                </div>
                <div class="price-block right red-text price-end">от 5000 р.</div>
            </div>
            <div class="flex price-row">
                <div class="price-block price-big left">
                    Уход за волосами от Wella
                </div>
                <div class="price-block middle red-text price-end">1-1,5 ч.</div>
                <div class="price-block red-text price-end">от 1300 р.</div>
            </div>
            <p class="price-small left">
                В услугу входит: мытье головы, уход, укладка волос
            </p>
        </div>
        <div id="nails" class="prices">
            <div class="price-table">
                <div class="flex price-row">
                    <div class="price-block left">Наименование</div>
                    <div class="price-block middle">Время</div>
                    <div class="price-block middle">Цена</div>
                </div>
                <div class="flex price-row">
                    <div class="price-block price-big left">
                        Маникюр аппаратный, комбинированный
                    </div>
                </div>
                <p class="price-small">
                    В услугу входит: маникюр, массаж кистей рук с&nbsp;использованием
                    масла для кутикулы
                </p>
                <div class="flex price-row">
                    <div class="price-block left">
                        <p>Женский маникюр</p>
                    </div>
                    <div class="price-block middle red-text price-end">1-1,5 ч.</div>
                    <div class="price-block red-text price-end">700 р.</div>
                </div>
                <div class="flex price-row">
                    <div class="price-block left">Мужской маникюр</div>
                    <div class="price-block middle red-text price-end">1-1,5 ч.</div>
                    <div class="price-block red-text price-end">700 р.</div>
                </div>
                <div class="flex price-row">
                    <div class="price-block left">Детский маникюр</div>
                    <div class="price-block middle red-text price-end">1-1,5 ч.</div>
                    <div class="price-block red-text price-end">400 р.</div>
                </div>
                <div class="flex price-row">
                    <div class="price-block price-big left">Покрытие гель-лак</div>
                    <div class="price-block middle red-text price-end">1 ч.</div>
                    <div class="price-block red-text price-end">800 р.</div>
                </div>
                <p class="price-small">
                    В услугу входит снятие старого покрытия гель-лак
                </p>
                <p class="price-small red-text">
                    Покрытие гель-лак без выполнения услуги маникюра
                    Не&nbsp;выполняется!
                </p>
                <div class="flex price-row">
                    <div class="price-block left">
                        <p class="price-big">Дизайн ногтей</p>
                    </div>
                </div>
                <p class="price-small">
                    Возможность выполнения дизайна и стоимость обсуждаются индивидуально
                </p>
                <div class="flex price-row">
                    <div class="price-block left">
                        <p class="price-big">Маникюр с покрытием гель-лак</p>
                    </div>
                    <div class="price-block middle red-text price-end">2 ч.</div>
                    <div class="price-block red-text price-end">1500 р.</div>
                </div>
                <div class="flex price-row">
                    <div class="price-block price-big left">Педикюр</div>
                </div>
                <p class="price-small">В услугу входит: педикюр, массаж стоп</p>
                <div class="flex price-row">
                    <div class="price-block left">
                        <p>Женский и мужской</p>
                    </div>
                    <div class="price-block middle red-text price-end">1-1,5 ч.</div>
                    <div class="price-block red-text price-end">1500 р.</div>
                </div>
                <div class="flex price-row">
                    <div class="price-block price-big left">
                        Педикюр с покрытием гель-лак
                    </div>
                    <div class="price-block middle red-text price-end">2 ч.</div>
                    <div class="price-block red-text price-end">2300 р.</div>
                </div>
                <div class="flex price-row">
                    <div class="price-block price-big left">Экспресс педикюр</div>
                    <div class="price-block middle red-text price-end"></div>
                    <div class="price-block red-text price-end">1000 р.</div>
                </div>
                <p class="price-small">
                    В услугу входит: обработка пальчиков или стоп, массаж стоп
                </p>
            </div>
            <h3 class="red-text h3">Рекомендации по уходу</h3>
            <div class="flex nails-recommedations">
                <div>
                    <p class="nails-recomm-h">Перед маникюром</p>
                    <ul>
                        <li class="recomm-list">
                            за сутки не использовать масло для кутикулы
                        </li>
                        <li class="recomm-list">
                            не обрезать самостоятельно кутикулу за 5 дней до маникюра
                        </li>
                        <li class="recomm-list">
                            придание формы ногтям лучше доверить мастеру
                        </li>
                    </ul>
                </div>
                <div>
                    <p class="nails-recomm-h">После маникюра</p>
                    <ul>
                        <li class="recomm-list">крем для рук-ежедневно</li>
                        <li class="recomm-list">масло для ногтей и кутикулы-ежедневно</li>
                        <li class="recomm-list">
                            в течение суток после маникюра с покрытием <br/>
                            гель-лак не посещать сауну и бассейн
                        </li>
                        <li class="recomm-list">уборка и мытье посуды-в перчатках</li>
                        <li class="recomm-list">
                            проявлять аккуратность в обращении с ключами,<br/>
                            автомобильными ручками дверей
                        </li>
                        <li class="recomm-list">не отрывать отслоившийся гель-лак</li>
                    </ul>
                </div>
            </div>
            <h3 class="red-text h3">Красоты и здоровья вашим ноготочкам!</h3>
        </div>
    </section>


{% endblock %}