{% extends 'mainapp/base.html' %}
{% load static %}

{% block conteiner %}
    <section class="container services">
        <h2 class="h2">Услуги салона</h2>
        <div class="grid grid--3-cols">
            <div class="services-block">
                <img
                        src="{% static 'img/service1-haircut.jpg' %}"
                        class="services-block-img"
                        alt="Стрижки"
                />
                <p class="service-description">Стрижки</p>
            </div>
            <div class="services-block">
                <img
                        src="{% static 'img/service2-haircolor.jpg' %}"
                        class="services-block-img"
                        alt="Окрашивание"
                />
                <p class="service-description">Окрашивание</p>
            </div>
            <div class="services-block">
                <img
                        src="{% static 'img/service3.jpg' %}"
                        class="services-block-img"
                        alt="Прически"
                />
                <p class="service-description">Прически</p>
            </div>
            <div class="services-block">
                <img
                        src="{% static 'img/service4-haircare.jpg' %}"
                        class="services-block-img"
                        alt="Уход за волосами"
                />
                <p class="service-description">Уход за волосами</p>
            </div>
            <div class="services-block">
                <img
                        src="{% static 'img/service5-nails.jpg' %}"
                        class="services-block-img"
                        alt="Маникюр"
                />
                <p class="service-description">Маникюр</p>
            </div>
            <div class="services-block">
                <img
                        src="{% static 'img/service6-foots.jpg' %}"
                        class="services-block-img"
                        alt="Педикюр"
                />
                <p class="service-description">Педикюр</p>
            </div>
        </div>
    </section>

{% endblock %}