{% extends 'masterapp/base.html' %}
{% load static %}

{% block conteiner %}
    <div>
        <section>
            <h1>
                Добавление работы
            </h1>
            <form method="POST" class="flex form" id="formsend" enctype="multipart/form-data">
                {% csrf_token %}

                <div>
                    {{ form.as_p }}
                </div>

                <input type="submit" value="добавить" class="button-form btn btn-primary btn-block">
            </form>
        </section>

    </div>
{% endblock %}