{% extends 'masterapp/base.html' %}
{% load static %}



{% block conteiner %}


    <div>
        <h2 class="h2 red-text">{{ object.user_id.first_name }}</h2>
        <img src="/media/{{ object.user_id.avatar }}" class="photo-master">
        <h3 class="h3 red-text">{{ object.about_me }}</h3>
        <h4 class="nails-recomm-h ta-center"> мои профессиии:</h4>
        {% for profission in object.master_profissions.all %}
            <p class="nails-recomm-h ta-center">{{ profission }}</p>
        {% endfor %}

        <p class="nails-recomm-h ta-center">{{ object.date_start_work }}</p>
        <h4 class="h3 red-text">Статус: {{ object.is_stuff }}</h4>
        <div class="nails-recomm-h ta-center">
            <button>
                <a href="{% url 'masterapp:master_update' master.pk %}"> редактировать данные</a>

            </button>

            <button type="button">
                <a href="{% url 'masterapp:master_create_work' %}"> добавить работу в портфолио</a>
            </button>
        </div>
    </div>
    <hr>
    <div class="master_works">

        {% for work in  object.completedwork_set.all %}

            <a href="{% url 'masterapp:master_work' work.pk %}">
                <div class="master_work">
                    {% if work.is_active is False %}
                        <h3>Работа удалена</h3>
                    {% endif %}
                    <h2 class="h2 red-text">{{ work }}</h2>
                    <h3 class="h3 red-text">{{ work.service_id.name }}</h3>
                    <img src="/media/{{ work.photo }}" class="photo-work">
                    <h3 class="h3 red-text">{{ work.full_description }}</h3>
                <button type="button">
                    <a href="{% url 'masterapp:update_work' work.pk %}">изменить работу</a>
                </button>
                    <button type="button">
                        <a href="{% url 'masterapp:delete_work' work.pk %}">
                            {% if work.is_active%}
                                <h3>удалить работу</h3>
                                {% else %}
                                <h3>восстановить работу</h3>
                            {% endif %}
                        </a>
                    </button>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}